## Extracting Titanic Disaster Data From Kaggle

In [17]:
#!pip3 install dotenv

In [ ]:
!

In [18]:
!pip3 install python-dotenv

Requirement already satisfied: python-dotenv in /home/zidani/.local/lib/python3.8/site-packages (0.14.0)

In [15]:
from dotenv import load_dotenv,find_dotenv

In [16]:
# find .env automatically by walking up directories until its found
dotenv_path = find_dotenv()
#load up the entries as environment variables
load_dotenv(dotenv_path)

True

In [17]:
# extracting environment variable using os.environ.get
import os
KAGGLE_USERNAME = os.environ.get("KAGGLE_USERNAME")
print(KAGGLE_USERNAME)

pslearn

In [19]:
import requests
from requests import session
import os
from dotenv import load_dotenv,find_dotenv

In [ ]:
#payload for post
payload = {
    'action': 'login',
    'username':os.environ.get("KAGGLE_USERNAME"),
    'password':os.environ.get("KAGGLE_PASSWORD")
}
# url for train file (get the link from kaggle website)
url = 'https://www.kaggle.com/c/titanic/data/train.csv'
#'https://www.kaggle.com/hesh97/titanicdataset-train.csv'
#'https://www.kaggle.com/hesh97/titanicdataset-traincsv/download'
##('https://www.kaggle.com/account/login',data=payload)

# setup session
with session() as c:
    #post request
    c.post('https://www.kaggle.com/account/login',data=payload)
    # get request
    response = c.get(url)
    #print response text
    print(response.text)

In [ ]:
from requests import session

In [ ]:

def extract_data (url, file_path):
    """
    extract data from kaggle
    """
    # setup session
    with session() as c:
        c.post('https://www.kaggle.com/account/login',data=payload)
        # open file to write
        with open(file_path,'m') as handle:
            response = c.get(url,stream=True)
            for block in response.iter_content(1024):
                handle.write(block)

In [25]:
#urls
train_url = 'https://www,kaggle.com/c/titanic/download/train.csv'
test_url =  'https://www,kaggle.com/c/titanic/download/test.csv'
# file paths
raw_data_path = os.path.join(os.path.pardir,'data','raw')
train_data_path = os.path.join(raw_data_path,'train.csv')
test_data_path = os.path.join(raw_data_path,'test.csv')
#extract data
extract_data(train_url,train_data_path)
extract_data(test_url,test_data_path)

NameError: name 'extract_data' is not defined

In [25]:
!pip3 install pandas

Collecting pandas
  Downloading pandas-1.1.3-cp38-cp38-manylinux1_x86_64.whl (9.3 MB)
     |████████████████████████████████| 9.3 MB 160 kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.15.4 in /home/zidani/.local/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Installing collected packages: pandas
Successfully installed pandas-1.1.3

In [ ]:
!ls -1 ../data/raw

In [26]:
import pandas as pd

dataset = pd.read_csv('train.csv')
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S