
### EXTRACTING DATA FROM RELATIONAL DATABASES

### SQLite Database

In [1]:
import sqlite3

##connect to database

In [2]:
#create a connection to a database:create the databases if not available
connection = sqlite3.connect("classroomDB,db")
connection.close()

## create table

In [3]:
#open connection
connection = sqlite3.connect("classroomDB.db")

#open cursor
cursor = connection.cursor()
#query for creating table
create_table= """
                CREATE TABLE classroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
#execute query
cursor.execute(create_table)
#commit changes
connection.commit()
#close connnection
connection.close()

OperationalError: table classroom already exists

### Insert data

In [4]:
#sample data
classroom_data = [(1,"Raj","M", 70, 84, 92),
                 (2, "Poonam","F",87, 69,93),
                 (3,"Nik","M", 65 ,83,90),
                 (4, "Rahul","F", 83,76,89)]
#open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
                        (student_id,name,gender,physics_marks,chemistry_marks,mathematics_marks)
                        VALUES
                        ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],
                                                                 student[3],student[4],student[5])
    
    
    # execute insert query
    cursor.execute(insert_statement)
    
#commit the changes 
connection.commit()
#close connection
connection.close()

IntegrityError: UNIQUE constraint failed: classroom.student_id

# Extract data

In [5]:
# open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#query
query = "SELECT *FROM classroom"
# execute query
cursor.execute(query)
#fetch results
result = cursor.fetchall()
#print results 
for row in result:
    print(row)
#class connection
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)

## MySQL database

### install package

In [8]:
!conda install -y -q pymysql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [9]:
# import package
import pymysql

In [15]:
cnx ={'host' : 'mysqldb.c12wj3x1qsae.us-west-2.rds.amazonaws.com',
     'username': 'zidani',
      'db':'classroomDB'}

In [16]:
pymysql.connect(cnx['host'],cnx['username'],cnx ['db'])

OperationalError: (2003, "Can't connect to MySQL server on 'mysqldb.c12wj3x1qsae.us-west-2.rds.amazonaws.com' ([Errno -2] Name or service not known)")

## connect to  database

In [ ]:
# connection details
cnx ={'host' : 'mysqldb.c12wj3x1qsae.us-west-2.rds.amazonaws.com',
     'username': 'test',
     'password':'test123456',
      'db':'classroomDB'}
# Connect to the database
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx ['db'])
#close database
connection.close()

### create table

In [17]:
# open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['db'])
#open cursor
cursor = connection.cursor()
#query for creating table
create_table= """
                CREATE TABLE classroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
#execute query
cursor.execute(create_table)
#commit changes
connection.commit()
#close connnection
connection.close()

OperationalError: (2003, "Can't connect to MySQL server on 'mysqldb.c12wj3x1qsae.us-west-2.rds.amazonaws.com' ([Errno -2] Name or service not known)")

### insert data

In [ ]:
#sample data
classroom_data = [(1,"Raj","M", 70, 84, 92),
                 (2, "Poonam","F",87, 69,93),
                 (3,"Nik","M", 65 ,83,90),
                 (4, "Rahul","F", 83,76,89)]
#open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
                        (student_id,name,gender,physics_marks,chemistry_marks,mathematics_marks)
                        VALUES
                        ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],
                                                                 student[3],student[4],student[5])
    
    
    # execute insert query
    cursor.execute(insert_statement)
    
#commit the changes 
connection.commit()
#close connection
connection.close()

### extract data

In [19]:
#open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])
#open cursor
cursor = connection.cursor()
#query
query = "SELECT *FROM classroom"
# execute query
cursor.execute(query)
#fetch results
result = cursor.fetchall()
#print results 
for row in result:
    print(row)
#class connection
connection.close()

KeyError: 'password'

## Microsoft SQL Server database

### install package